<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 p-x-0">
            <video class="play-button-hover" poster="https://cdn.shopify.com/s/files/1/1073/8830/files/poster.jpg?16596465149826440614" style="width:100%; height:auto;">
                <source src="https://cdn.shopify.com/s/files/1/1073/8830/files/SUPPLY_EDIT_v4.mp4?10105095783517067955" type="video/mp4">
                <source src="https://cdn.shopify.com/s/files/1/1073/8830/files/SUPPLY_EDIT_v4.webmhd.webm?10105095783517067955" type="video/webm">
                <source src="https://cdn.shopify.com/s/files/1/1073/8830/files/SUPPLY_EDIT_v4.oggtheora.ogv?10105095783517067955" type="video/ogg">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="about-header" class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="card">
                    <div class="card-block">
                        <h2>{{ page.title }}</h2>
                        {{ page.content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="supplier-bg" class="row p-y-lg p-x-0 m-y-md cover" style="background-image: url('https://cdn.shopify.com/s/files/1/1073/8830/files/001.jpg?9291994724570579818')">
        <div class="container p-y-lg">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">Our People</h4>
                            <p>Our promise is that everything you buy from Supply is made good. Hi-tech producers, makers and believers – our partners are committed to fairness, quality and progressive business practice.</p>
                            <p>It's what makes them right for us... and, we hope, right for you. <a href="/pages/suppliers" class="underline">Read more.</a></p>
                        </div>
                        <ul class="list-group list-group-flush supplier-overflow" >
                            {% for link in linklists.suppliers.links %}
                            <li class="list-group-item">
                                <a target="_parent" title="{{ pages[link.handle].title }}" href="{{ link.url }}">
                                    {{ pages[link.handle].title }}
                                    <i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'social' %}


<script>
$(document).ready(function() {

  //video
  var isPlaying = false;
  var video = $("video");

  video.on('click', function() {
    if (isPlaying) {
      $(this)[0].pause()
      isPlaying = false;
    } else {
      $(this)[0].play()
      isPlaying = true;
    }
  });

  //backstretch
  var supplierImages = [];
  {% for i in (1..9) %}
    {% assign settingsimages = 'suppliers_about_%1' | replace:'%1', {{i}} %}
      {% if settings[settingsimages] != blank %}
        supplierImages.push('{{ settings[settingsimages] }}');
      {% endif %}
  {% endfor %}

  $('#supplier-bg').backstretch(supplierImages, {duration: 5000, fade: 750});

})
</script>
