{{ 'leaflet.js' | asset_url | script_tag }}
<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>

<div id="mapid" style="height: 500px"></div>

<section class="container-fluid white-bg m-y">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 p-y-lg">
                    {{ page.metafields.c_f.page_snippet }}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="card-columns">
                {% for link in linklists.suppliers.links %}
                      <div class="card">
                          {% if pages[link.handle].metafields.c_f.feature_image %}
                            <img class="card-img-top" src="{{ pages[link.handle].metafields.c_f.feature_image }}" alt="{{ pages[link.handle].title }}">
                          {% endif %}
                          <div class="card-block">
                              <h4 class="card-title">{{ pages[link.handle].title }}</h4>
                              <p class="card-text">
                                  {% if pages[link.handle].metafields.c_f.page_snippet %}
                                     {{ pages[link.handle].metafields.c_f.page_snippet }}
                                  {% endif %}
                              </p>
                              <footer>
                                  <small class="text-muted">
                                      Read more about
                                      <cite title="{{ pages[link.handle].title }}"><a href="{{ link.url }}" target="_parent">{{ pages[link.handle].title }}</a></cite>
                                  </small>
                              </footer>
                          </div>
                      </div>
                {% endfor %}
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Do it clean - why eco-tanning matters.</h4>
                        <p class="card-text">
                            {{ page.content }}
                        </p>
                    </div>
                </div>
            <div>
        </div>
    </div>
</section>

<script>
var control =  L.control.zoom({position: 'bottomright'})
var layer = new L.StamenTileLayer("toner-lite");
var mymap = new L.Map("mapid", {
        center: new L.LatLng(53.1, 10.5),
        zoom: 6,
        zoomControl: false,
        scrollWheelZoom: false,
    })
mymap.addLayer(layer);
control.addTo(mymap)

var myIcon = L.icon({
    iconUrl: "{{ 'marker-icon.png' | asset_url }}",
    iconRetinaUrl: "{{ 'marker-icon-2x.png' | asset_url }}",
    iconSize: [25, 41],
    iconAnchor: [48, 41],
    popupAnchor: [-35, -38],
    shadowUrl: "{{ 'marker-shadow.png' | asset_url }}",
    shadowRetinaUrl: "{{ 'marker-shadow.png' | asset_url }}",
    shadowSize: [41, 41],
    shadowAnchor: [52, 41]
});

$(document).ready(function(){
    {% for link in linklists.suppliers.links %}
        {% if pages[link.handle].metafields.c_f.latitude and pages[link.handle].metafields.c_f.longitude  %}
            L.marker( [{{ pages[link.handle].metafields.c_f.latitude }}, {{ pages[link.handle].metafields.c_f.longitude }}], {icon: myIcon}).addTo(mymap).bindPopup('{{ pages[link.handle].title }}');
        {% endif %}
    {% endfor %}
})

</script>
