{{ 'leaflet.js' | asset_url | script_tag }}
<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>

<div id="mapid" style="height: 500px"></div>

<section class="container-fluid white-bg m-y">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 p-y-lg">
                    {{ page.metafields.c_f.page_snippet }}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="card-columns">
                <div class="card">
                    <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/1073/8830/files/masure-website-02-a_ac2db849-d4a2-44b3-bff4-ce45c8444892.jpg?4138821627376782376" alt="Eco Tannery">
                    <div class="card-block">
                        <h4 class="card-title">Do it clean - why eco-tanning matters.</h4>
                        <p class="card-text">
                            {{ page.content }}
                        </p>
                    </div>
                </div>
                {% for link in linklists.suppliers.links %}
                      <div class="card">
                          {% if pages[link.handle].metafields.c_f.feature_image %}
                            <img class="card-img-top" src="{{ pages[link.handle].metafields.c_f.feature_image }}" alt="{{ pages[link.handle].title }}">
                          {% endif %}
                          <div class="card-block">
                              <h4 class="card-title">{{ pages[link.handle].title }}</h4>
                              <p class="card-text">
                                  {% if pages[link.handle].metafields.c_f.page_snippet %}
                                     {{ pages[link.handle].metafields.c_f.page_snippet }}
                                  {% endif %}
                              </p>
                              <a class="underline text-muted" title="{{ pages[link.handle].title }}" href="{{ link.url }}" target="_parent">Read more about {{ pages[link.handle].title }}</a>
                          </div>
                      </div>
                {% endfor %}
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Do it clean - why Nickel-free matters.</h4>
                        <p class="card-text">Many everyday products use nickel-plated rivets, poppers, zippers and studs – even though the toxic effects of heavy metals are well known.</p>
                        <p class="card-text">Nickel-plated metalwork is often produced in places where environmental laws are poorly enforced. Toxic waste gets dumped in landfill and rivers contaminating the water supply and the food chain.</p>
                        <p class="card-text">We’re not pretending smelting metal is ever going to be eco-friendly. But we can make sure we minimise the impact. Using new technologies means fewer chemicals, less pollution and lower emissions.</p>
                        <p class="card-text">So whatever you buy from Supply you can be sure it’s as free from the bad stuff as we can make it.</p>
                    </div>
                </div>
            <div>
        </div>
    </div>
</section>

<script>
var control =  L.control.zoom({position: 'bottomright'})
var layer = new L.StamenTileLayer("toner-lite");
var mymap = new L.Map("mapid", {
        center: new L.LatLng(53.1, 10.5),
        zoom: 6,
        zoomControl: false,
        scrollWheelZoom: false,
    })
mymap.addLayer(layer);
control.addTo(mymap)

var myIcon = L.icon({
    iconUrl: "{{ 'marker-icon.png' | asset_url }}",
    iconRetinaUrl: "{{ 'marker-icon-2x.png' | asset_url }}",
    iconSize: [25, 41],
    iconAnchor: [48, 41],
    popupAnchor: [-35, -38],
    shadowUrl: "{{ 'marker-shadow.png' | asset_url }}",
    shadowRetinaUrl: "{{ 'marker-shadow.png' | asset_url }}",
    shadowSize: [41, 41],
    shadowAnchor: [52, 41]
});

$(document).ready(function(){
    {% for link in linklists.suppliers.links %}
        {% if pages[link.handle].metafields.c_f.latitude and pages[link.handle].metafields.c_f.longitude  %}
            L.marker( [{{ pages[link.handle].metafields.c_f.latitude }}, {{ pages[link.handle].metafields.c_f.longitude }}], {icon: myIcon}).addTo(mymap).bindPopup('{{ pages[link.handle].title }}');
        {% endif %}
    {% endfor %}
})

</script>
